@page "/currencies"
@attribute [Authorize]

<Money.Components.Title Icon="pound-sign" Main="Currencies" Sub="List of currencies you are making expenses in" ButtonText="New Currency" ButtonClick="@(() => { CreateModal.Show(); StateHasChanged(); })" />
<ExceptionPanel />

<CurrencyEdit @ref="CreateModal" />
<Confirm @ref="DeleteConfirm" Message="@DeleteMessage" OnConfirmed="@OnDeleteConfirmed" />

<Loading Context="@Loading">
    @if (Models.Count == 0)
    {
        <Alert Title="No data." Message="Wihout a currency you can't do much. Let's add some." Mode="@AlertMode.Warning" />
    }
    else
    {
        @foreach (var item in Models)
        {
            <div class="card">
                <div class="card-header d-flex">
                    <strong>
                        @item.Symbol
                    </strong>

                    <div class="nav ml-auto">
                        @if (!item.IsDefault)
                        {
                            <IconButton Icon="home" ToolTip="Set as default" Click="@(async () => { await OnChangeDefaultClickAsync(item); StateHasChanged(); })" />
                        }

                        @if (Models.Count > 1)
                        {
                            <IconButton Icon="exchange-alt" ToolTip="Add exchange rate" Click="@(() => OnActionClick(item, ListExchangeRateModal))" />
                        }

                        <IconButton Icon="pen" ToolTip="Rename" Click="@(() => OnActionClick(item, EditModal))" />

                        @if (Models.Count > 1 && !item.IsDefault)
                        {
                            <IconButton Icon="trash-alt" ToolTip="Delete" Click="@(() => OnDeleteClick(item))" />
                        }
                    </div>
                </div>
                <div class="card-body">
                    <p>This currency has unique code @item.UniqueCode.</p>
                    @if (item.IsDefault)
                    {
                        <p>This is a default currency used for displaying expenses.</p>
                    }
                </div>
            </div>

        }
    }
</Loading>

<CurrencyEdit @ref="EditModal" UniqueCode="@Selected?.UniqueCode" Symbol="@Selected?.Symbol" />

<ExchangeRateList @ref="ListExchangeRateModal" TargetCurrency="@Selected?.UniqueCode" AddClick="@OnAddExchangeRateClick" />
<ExchangeRateCreate @ref="CreateExchangeRateModal" TargetCurrency="@Selected?.UniqueCode" OnAdded="@(() => ListExchangeRateModal.Show())" />
