@page "/{Year:int}/{Month:int}/checklist"
@attribute [Authorize]

<Money.Components.Title Icon="tasks" Main="@($"Expected expenses in {SelectedPeriod}")" Sub="Monthly expense checklist" />
<ExceptionPanel />

<div class="container-narrow">
    <ul class="nav nav-pills mb-3">
        <li>
            <a class="nav-link" href="@Navigator.UrlOverviewIncomes(SelectedPeriod)">Incomes</a>
        </li>
        <li>
            <a class="nav-link" href="@Navigator.UrlOverview(SelectedPeriod)">Expenses</a>
        </li>
        <li>
            <a class="nav-link active" href="@Navigator.UrlChecklist(SelectedPeriod)">Checklist</a>
        </li>
    </ul>

    <div class="cards">
        <ExpenseCardContext>
            <AutoLoadListView
                Items="@Models"
                PlaceholderCount="@PlaceholderCount"
                LoadingContext="@Loading"
                NoDataTitle="No data."
                NoDataMessage="Let's add some recurring expense templates."
                Context="item"
            >
                @{
                    var model = item.Model;
                    var isCreated = !model.ExpenseKey.IsEmpty;
                    var isPlaceholder = item.Placeholder != null;
                    Action clickHandler = isPlaceholder ? () => { } : () => 
                    {
                        if (isCreated)
                            return;

                        var today = AppDateTime.Today;
                        var isCurrentMonth = SelectedPeriod.Year == today.Year && SelectedPeriod.Month == today.Month;
                        DateTime? expectedWhen = isCurrentMonth ? null : model.When;
                        Navigator.OpenExpenseCreate(model.Amount, model.Description, model.CategoryKey, today, model.IsFixed, expectedWhen);
                    };
                    var rowCssClass = $"row align-items-center {(!isCreated && !isPlaceholder ? "cursor-pointer" : "")}";
                    var iconCssClass = $"h1 {(isCreated ? "text-success" : "")} m-0";
                }

                <div class="@rowCssClass" @onclick="clickHandler">
                    <div class="col-auto pe-1">
                        <Placeholder>
                            <Icon Prefix="far" Identifier="@(isCreated ? "check-square" : "square")" class="@iconCssClass" />
                        </Placeholder>
                    </div>
                    <div class="col">
                        <ExpenseCard Model="@model" CssClass="@(item.Placeholder != null ? item.Placeholder.CssClass : (isCreated ? "checklist-completed" : ""))" AmountCssClass="@(isCreated ? "text-decoration-line-through" : "")" />
                    </div>
                </div>
            </AutoLoadListView>
        </ExpenseCardContext>
    </div>
</div>
