@page "/templates/{ExpenseTemplateGuid:guid}/calendar/{Year:int}"
@attribute [Authorize]

<Money.Components.Title Icon="calendar-check" Main="@($"Expense Template Calendar in {SelectedPeriod.Year}")"
    Sub="Insights into expesens from template" />
<ExceptionPanel />

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <PeriodSelector Selected="SelectedPeriod" Previous="PeriodGuesses" ExactGetter="GetYearsAsync" LinkFactory="@(year => Navigator.UrlExpenseTemplateCalendar(ExpenseTemplateKey, year))" />
    </div>
    <EnumSelector Icon="eye" Text="Display" TType="ExpenseTemplateCalendarDisplayType" @bind-Current="@SelectedDisplayType" Changed="StateHasChanged" />
</div>

@{
    var flexCssClass="d-flex align-items-center justify-content-center";
}

<div class="row g-2">
    <AutoLoadListView
        Items="@Models"
        LoadingContext="@Loading"
        Context="item"
        PlaceholderCount="12"
    >
        <div class="col-4 col-md-3 col-lg-2 col-xl-1 @item.Placeholder?.CssClass">
            <div class="text-center mb-1">
                <Placeholder WordMinCount="1" WordMaxCount="1" WordMinLength="7" WordMaxLength="10">
                    @item.Model.ToMonthString()
                </Placeholder>
            </div>
            <div class="ratio ratio-16x9 alert @(item.Model.ExpenseCount > 0 ? "alert-success" : "alert-secondary") @flexCssClass">
                <div class="@flexCssClass">
                    <Placeholder WordMinCount="1" WordMaxCount="1" WordMinLength="2" WordMaxLength="2" CssClass="fs-3">
                        @(SelectedDisplayType switch
                        {
                            ExpenseTemplateCalendarDisplayType.Count => @<span class="fs-5">@item.Model.ExpenseCount</span>,
                            ExpenseTemplateCalendarDisplayType.Total => @<PriceView TagName="small" Value="item.Model.ExpenseTotal" />,
                            ExpenseTemplateCalendarDisplayType.Check when item.Model.ExpenseCount > 0 => @<Icon Identifier="check" class="fs-3" />,
                            _ => @<span></span>
                        })
                    </Placeholder>
                </div>
            </div>
        </div>
    </AutoLoadListView>
</div>
