@attribute [Authorize]
@page "/{Year:int}/{Month:int}/overview/incomes"

<Title Icon="calendar" Main="@($"Incomes in {SelectedPeriod}")" Sub="List of each single income in selected month">
    <ButtonContent>
        <IncomeCreateButton OnClick="CreateModal.Show" />
    </ButtonContent>
</Title>
<ExceptionPanel />

<IncomeCreate @ref="CreateModal" />

<div class="container-narrow">
    <Loading Context="@Loading" IsOverlay="true">
        <ul class="nav nav-pills float-start">
            <li>
                <a class="nav-link active" href="@Navigator.UrlOverviewIncomes(SelectedPeriod)">Incomes</a>
            </li>
            <li>
                <a class="nav-link" href="@Navigator.UrlOverview(SelectedPeriod)">Expenses</a>
            </li>
            <li>
                <a class="nav-link" href="@Navigator.UrlChecklist(SelectedPeriod)">Checklist</a>
            </li>
        </ul>

        @if (Items?.Count > 0)
        {
            <SortButton TType="@IncomeOverviewSortType" @bind-Current="@SortDescriptor" Changed="@OnSortChanged" />
        }
        <div class="clear"></div>

        @if (Items != null)
        {
            if (Items.Count > 0)
            {
                <div class="cards">
                    <IncomeCardContext>
                        @foreach (var item in Items)
                        {
                            <IncomeCard Model="@item" />
                        }
                    </IncomeCardContext>
                </div>

                <Paging Context="@PagingContext" />
            }
            else
            {
                <Alert Title="No data." Message="Let's add some incomes." Mode="@AlertMode.Warning" CssClass="mt-3" />
            }
        }
    </Loading>
</div>
