@typeparam T

<Title Icon="calendar" Main="@($"Incomes in {SelectedPeriod}")" Sub="@SubTitle">
    <ButtonContent>
        <IncomeCreateButton OnClick="CreateModal.Show" />
    </ButtonContent>
</Title>
<ExceptionPanel />

<IncomeCreate @ref="CreateModal" />

<div class="container-narrow">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <PeriodSelector Selected="SelectedPeriod" Previous="PeriodGuesses" ExactGetter="GetPeriodsAsync" LinkFactory="UrlOverviewIncomes" />
            <span class="ps-2">
                <Loading Context="@Loading" IsOverlay="true" />
            </span>
        </div>
        <ul class="nav nav-pills">
            <li>
                <a class="nav-link active" href="@Navigator.UrlCurrent()">Incomes</a>
            </li>
            <li>
                <a class="nav-link" href="@ListExpenseUrl()">Expenses</a>
            </li>
            @{
                var checklistUrl = ChecklistUrl();
            }
            @if (checklistUrl != null)
            {
                <li>
                    <a class="nav-link" href="@checklistUrl">Checklist</a>
                </li>
            }
        </ul>
    </div>

    @if (Items?.Count > 0)
    {
        <SortButton TType="@IncomeOverviewSortType" @bind-Current="@SortDescriptor" Changed="@OnSortChanged" />
    }
    <div class="clear"></div>

    @if (Items != null)
    {
        if (Items.Count > 0)
        {
            <div class="cards">
                <IncomeCardContext>
                    @foreach (var item in Items)
                    {
                        <IncomeCard Model="@item" />
                    }
                </IncomeCardContext>
            </div>

            <Paging Context="@PagingContext" />
        }
        else
        {
            <Alert Title="No data." Message="Let's add some incomes." Mode="@AlertMode.Warning" CssClass="mt-3" />
        }
    }
</div>
