@attribute [Authorize]
@page "/{Year:int}/{Month:int}/overview/incomes"

<Title Icon="calendar" Main="@($"Incomes in {MonthModel}")" Sub="List of each single income in selected month">
    <ButtonContent>
        <IncomeCreateButton OnClick="CreateModal.Show" />
    </ButtonContent>
</Title>
<ExceptionPanel />

<IncomeCreate @ref="CreateModal" />
<Confirm @ref="DeleteConfirm" Message="@DeleteMessage" OnConfirmed="@OnDeleteConfirmed" />

<div class="overview">
    <Loading Context="@Loading" IsOverlay="true">
        <ul class="nav nav-pills float-left">
            <li>
                <a class="nav-link active" href="@Navigator.UrlOverviewIncomes(MonthModel)">Incomes</a>
            </li>
            <li>
                <a class="nav-link" href="@Navigator.UrlOverview(MonthModel)">Expenses</a>
            </li>
        </ul>

        @if (Items != null)
        {
            if (Items.Count > 0)
            {
                <SortButton TType="@IncomeOverviewSortType" @bind-Current="@SortDescriptor" Changed="@OnSortChanged" />
                <div class="clear"></div>

                <div class="cards">
                    <CascadingValue Value="@this">
                        @foreach (var item in Items)
                        {
                            <div class="row align-items-center border-bottom py-3">
                                <div class="col-4 col-md-2 mb-2 mb-md-0">
                                    <DateValue Value="item.When" />
                                </div>
                                <div class="col-8 col-md-3 text-md-right mb-2 mb-md-0 text-right">
                                    <h3 class="m-0">@CurrencyFormatter.Format(item.Amount)</h3>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col mb-2 mb-md-0">
                                    @item.Description
                                </div>
                                <div class="col-12 col-sm-auto controls text-right">
                                    <IconButton Icon="trash-alt" ToolTip="Delete" Click="@(() => OnDeleteClick(item))" />
                                </div>
                            </div>
                        }
                    </CascadingValue>
                </div>

                <Paging Context="@PagingContext" />
            }
            else
            {
                <Alert Title="No data." Message="Let's add some incomes." Mode="@AlertMode.Warning" />
            }
        }
    </Loading>
</div>
