@typeparam T

<Title Icon="calendar" Main="@Title" Sub="@SubTitle">
    <ButtonContent>
        @{
            var trendsButton = TrendsTitleUrl();
        }
        @if (trendsButton != null)
        {
            <button @key="trendsButton" class="btn btn-secondary" @onclick="(() => Navigator.Open(trendsButton.Value.url))">
                <Icon Prefix="fas" Identifier="chart-line" />
                <span class="d-none d-md-inline">
                    @trendsButton.Value.title
                </span>
            </button>
        }
        <ExpenseCreateButton CategoryKey="CategoryKey" />
    </ButtonContent>
</Title>
<ExceptionPanel />

<div class="container-narrow">
    @{
        var incomeUrl = ListIncomeUrl();
        var checklistUrl = ChecklistUrl();
        var trendsUrl = TrendsSelectedPeriodUrl();
    }
    @if (incomeUrl != null || trendsUrl != null)
    {
        <ul class="nav nav-pills float-start">
            @if (incomeUrl != null)
            {
                <li>
                    <a class="nav-link" href="@incomeUrl">Incomes</a>
                </li>
            }
            <li>
                <a class="nav-link active" href="@Navigator.UrlCurrent()">Expenses</a>
            </li>
            @if (checklistUrl != null)
            {
                <li>
                    <a class="nav-link" href="@checklistUrl">Checklist</a>
                </li>
            }
            @if (trendsUrl != null)
            {
                <li>
                    <a class="nav-link" href="@trendsUrl">Trends</a>
                </li>
            }
        </ul>
    }

    @if (Items?.Count > 0)
    {
        <SortButton TType="@OutcomeOverviewSortType" @bind-Current="@SortDescriptor" Changed="@OnSortChanged" />
    }
    <div class="clear"></div>

    <div class="cards">
        <ExpenseCardContext>
            @if (Items != null)
            {
                if (Items.Count > 0)
                {
                    var index = 0;
                    @foreach (var item in Items)
                    {
                        <ExpenseCard Model="@item" />
                        
                        if (index == Items.Count - 3)
                        {
                            <AutoloadNext Intersected="@PagingContext.NextAsync" />
                        }
                        index++;
                    }
                }
                else
                {
                    <Alert Title="No data." Message="Let's add some expenses." Mode="@AlertMode.Warning" CssClass="mt-3" />
                }
            }

            <Loading Context="@Loading">
                <LoadingContent>
                    <PlaceholderContainer IsActive="true" Context="ctx">
                        @for (int i = 0; i < (Items?.Count > 0 ? 2 : 5); i++)
                        {
                            <ExpenseCard Model="@MockData.ExpenseOverviewModel" CssClass="@ctx.CssClass" />
                        }
                    </PlaceholderContainer>
                </LoadingContent>
            </Loading>

            @if (Items != null)
            {
                if (Items.Count > 0)
                {
                    <Paging Context="@PagingContext" ShowAsNext="true" CssClass="mt-3" />
                }
            }
        </ExpenseCardContext>
    </div>
</div>
