@attribute [Authorize]
@page "/{Year:int}/{Month:int}/overview/incomes"

<Title Icon="calendar" Main="@($"Incomes in {SelectedPeriod}")" Sub="List of each single income in selected month">
    <ButtonContent>
        <IncomeCreateButton OnClick="CreateModal.Show" />
    </ButtonContent>
</Title>
<ExceptionPanel />

@code
{
    IncomeAmount ChangeAmountModal;
    IncomeDescription ChangeDescriptionModal;
    IncomeWhen ChangeWhenModal;
}

<IncomeCreate @ref="CreateModal" />
<IncomeAmount @ref="ChangeAmountModal" IncomeKey="@Selected?.Key" Amount="@Selected?.Amount" />
<IncomeDescription @ref="ChangeDescriptionModal" IncomeKey="@Selected?.Key" Description="@Selected?.Description" />
<IncomeWhen @ref="ChangeWhenModal" IncomeKey="@Selected?.Key" When="@(Selected?.When ?? DateTime.Today)" />
<Confirm @ref="DeleteConfirm" Message="@DeleteMessage" OnConfirmed="@OnDeleteConfirmed" />

<div class="container-narrow">
    <Loading Context="@Loading" IsOverlay="true">
        <ul class="nav nav-pills float-start">
            <li>
                <a class="nav-link active" href="@Navigator.UrlOverviewIncomes(SelectedPeriod)">Incomes</a>
            </li>
            <li>
                <a class="nav-link" href="@Navigator.UrlOverview(SelectedPeriod)">Expenses</a>
            </li>
            <li>
                <a class="nav-link" href="@Navigator.UrlChecklist(SelectedPeriod)">Checklist</a>
            </li>
        </ul>

        @if (Items?.Count > 0)
        {
            <SortButton TType="@IncomeOverviewSortType" @bind-Current="@SortDescriptor" Changed="@OnSortChanged" />
        }
        <div class="clear"></div>

        @if (Items != null)
        {
            if (Items.Count > 0)
            {
                <div class="cards">
                    <CascadingValue Value="@this">
                        @foreach (var item in Items)
                        {
                            <div class="row align-items-center border-bottom py-3">
                                <div class="col-4 col-md-2 mb-2 mb-md-0">
                                    <DateValue Value="item.When" />
                                </div>
                                <div class="col-8 col-md-3 text-md-end mb-2 mb-md-0 text-end">
                                    <h3 class="m-0">@CurrencyFormatter.Format(item.Amount)</h3>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col mb-2 mb-md-0">
                                    @item.Description
                                </div>
                                <div class="col-12 col-sm-auto controls text-end">
                                    <div class="sort dropdown">
                                        <IconButton Icon="ellipsis-v" data-bs-toggle="dropdown" />
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" @onclick="@(() => Edit(item, ChangeAmountModal))">
                                                <Icon Identifier="dollar-sign" />
                                                Amount
                                            </a>
                                            <a class="dropdown-item" @onclick="@(() => Edit(item, ChangeDescriptionModal))">
                                                <Icon Identifier="comment" />
                                                Description
                                            </a>
                                            <a class="dropdown-item" @onclick="@(() => Edit(item, ChangeWhenModal))">
                                                <Icon Identifier="calendar" />
                                                When
                                            </a>
                                            <hr class="dropdown-divider" />
                                            <a class="dropdown-item" @onclick="@(() => OnDeleteClick(item))">
                                                <Icon Identifier="trash-alt" />
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </CascadingValue>
                </div>

                <Paging Context="@PagingContext" />
            }
            else
            {
                <Alert Title="No data." Message="Let's add some incomes." Mode="@AlertMode.Warning" CssClass="mt-3" />
            }
        }
    </Loading>
</div>
