@page "/search"
@attribute [Authorize]

<Money.Components.Title Icon="search" Main="Search" Sub="Search for expenses" />
<ExceptionPanel />

<div class="container-narrow">
    <form @onsubmit="@(() => { Navigator.OpenSearch(FormText, DefaultSort.Equals(FormSort) ? null : FormSort); StateHasChanged(); })">
        <div class="row g-2 mb-3">
            <div class="col">
                <input @ref="SearchBox" class="form-control" placeholder="Search..." @bind="@FormText" />
            </div>
            <div class="col-auto">
                <SortButton TType="@OutcomeOverviewSortType" @bind-Current="@FormSort" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary d-block">
                    <Icon Identifier="search" />
                    <span class="d-none d-md-inline">
                        Search
                    </span>
                </button>
            </div>
        </div>
    </form>

    <div class="cards">
        <ExpenseCardContext>
            <AutoLoadListView 
                Items="@Models" 
                LoadingContext="@Loading" 
                PagingContext="@PagingContext" 
                NoDataMessage="@(string.IsNullOrEmpty(Query) ? "Type your query to start, use double quotes for exact match..." : "No matching expense found.")" 
                Context="item"
            >
                <ExpenseCard Model="@item.Model" CssClass="@item.Placeholder?.CssClass" />
            </AutoLoadListView>
        </ExpenseCardContext>
    </div>
</div>
