@page "/search"
@attribute [Authorize]

<Money.Components.Title Icon="search" Main="Search" Sub="Search for expenses" />
<ExceptionPanel />

<div class="search">
    <form @onsubmit="@(() => { Navigator.OpenSearch(FormText, DefaultSort.Equals(FormSort) ? null : FormSort); StateHasChanged(); })">
        <div class="form-row mb-3">
            <div class="col">
                <input @ref="SearchBox" class="form-control" placeholder="Search..." @bind="@FormText" />
            </div>
            <div class="col-auto">
                <SortButton TType="@OutcomeOverviewSortType" @bind-Current="@FormSort" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-block">
                    <Icon Identifier="search" />
                    <span class="d-none d-md-inline">
                        Search
                    </span>
                </button>
            </div>
        </div>
    </form>

    <Loading Context="@Loading">
        @if (Models == null || Models.Count == 0)
        {
            <Alert Message="No matching expense found." Mode="@AlertMode.Warning" />
        }
        else
        {
            <div class="cards">
                <ExpenseCardContext>
                    @foreach (var item in Models)
                    {
                        <ExpenseCard Model="@item" />
                    }
                </ExpenseCardContext>
            </div>

            <Paging Context="@PagingContext" />
        }
    </Loading>
</div>
