@typeparam T

<Title Icon="signal" Main="Summary" Sub="@SubTitle">
    <ButtonContent>
        <IncomeCreateButton OnClick="IncomeCreate.Show" />
        <ExpenseCreateButton />
    </ButtonContent>
</Title>
<ExceptionPanel />

<IncomeCreate @ref="IncomeCreate" />

<div class="summary">
    <ExpenseBagPublishButton Text="You have expenses created when offline. Upload them now..." class="mb-4" />

    @if (SelectedPeriod != null)
    { 
        <div class="d-flex justify-content-between mb-3">
            <div>
                <PeriodSelector Selected="SelectedPeriod" Previous="PeriodGuesses" ExactGetter="GetPeriodsAsync" LinkFactory="UrlSummary" />
                <span class="ps-2">
                    <Loading Context="@CategoriesLoading" />
                </span>
            </div>
            <div class="d-flex">
                <EnumSelector Icon="eye" Text="Display" TType="SummaryDisplayType" @bind-Current="@SelectedDisplayType" Changed="StateHasChanged" />
                <span class="ps-2">
                    <SortButton TType="SummarySortType" @bind-Current="@SortDescriptor" Changed="@OnSorted" />
                </span>
            </div>
        </div>
    }

    @if (ExpenseTotal != null && ExpenseTotal.Value == 0 && (IncomeTotal == null || IncomeTotal.Value == 0))
    {
        <Alert Title="No data." Message="Let's add some expenses." Mode="@AlertMode.Warning" />
    }
    else if (Categories != null)
    {
        <div class="graph">
            @if (ExpenseTotal != null || IncomeTotal != null)
            {
                <div class="card bar-graph bar-graph-summary" @onclick="@(() => OpenOverview(SelectedPeriod))">
                    <div class="card-body">
                        <h3 class="description">
                            <span class="icon">📈</span>
                            <span class="name">Summary</span>
                        </h3>

                        <div class="value">
                            <div class="amount">
                                @if (SelectedDisplayType == SummaryDisplayType.Total)
                                {
                                    @if (IncomeTotal != null)
                                    {
                                        <span class="text-success me-2" @onclick="@(() => OpenOverviewIncomes(SelectedPeriod))">
                                            @FormatPrice(IncomeTotal)
                                        </span>
                                    }

                                    <span class="text-danger">
                                        @FormatPrice(ExpenseTotal, CurrencyFormatter.FormatZero.Zero)
                                    </span>
                                }
                                else
                                {
                                    var diff = (IncomeTotal ?? new Price(0, ExpenseTotal.Currency)) - ExpenseTotal;
                                    <span class="@(diff.Value > 0 ? "text-success" : "text-danger")">
                                        @FormatPrice(diff, applyPlusForPositiveNumbers: true)
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }

            @foreach (var category in Categories)
            {
                <div class="card bar-graph" @onclick="@(() => OpenOverview(SelectedPeriod, category.Key))">
                    <div class="card-body">
                        <h3 class="description" title="@category.Description">
                            <span class="icon">@category.Icon</span>
                            <span class="name">@category.Name</span>
                        </h3>

                        <div class="value">
                            <div class="amount">
                                @if (category.FixedAmount.Value > 0)
                                {
                                    <span class="text-muted" style="opacity: .5;">@FormatPrice(category.FixedAmount) + </span>
                                }
                                @FormatPrice(category.Amount, CurrencyFormatter.FormatZero.Zero)
                            </div>
                            <div class="bar" style="width: @GetPercentualValue(category)%; background-color: @category.Color.ToHashCode();"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>