@attribute [Authorize]
@page "/{Year:int}/trends/{CategoryGuid:guid}"

<Title Icon="chart-bar" Main="@($"Trends of category {CategoryName} in {Year}")" Sub="See how the category expenses change in time">
    <ButtonContent>
        <button class="btn btn-secondary" @onclick="(() => Navigator.OpenOverview(SelectedPeriod, CategoryKey))">
            <Icon Prefix="fas" Identifier="list-ul" />
            <span class="d-none d-md-inline">
                Year overview
            </span>
        </button>
    </ButtonContent>
</Title>

@if (Models == null)
{
    <Loading />
}
else
{
    <div class="row no-gutters" style="min-width: 440px; height: 400px; height: calc(100vh - 328px)">
        @foreach (var model in Models)
        {
            <div class="col-1">
                <div class="p-1 p-md-3 h-100 w-100 vertical-bar">
                    <div class="w-100" style="height: @(model.TotalAmount.Value / MaxAmount * 100)%; background: @CategoryColor.ToHashCode()"></div>
                </div>
            </div>
        }
    </div>
    <div class="row no-gutters" style="min-width: 440px;">
        @foreach (var model in Models)
        {
            <div class="col-1 @(model > DateTime.Today ? "text-muted" : String.Empty)">
                <div class="p-1">
                    <div class="text-center mt-1 d-none d-lg-block">
                        <small>
                            @CurrencyFormatter.Format(model.TotalAmount)
                        </small>
                    </div>
                    <div class="text-center mt-1">
                        <a href="@Navigator.UrlOverview(model, CategoryKey)">
                            <span class="d-none d-lg-inline">
                                @model.ToMonthString()
                            </span>
                            <span class="d-inline d-lg-none">
                                @model.Month.ToString("D2")
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}