@attribute [Authorize]
@page "/{Year:int}/trends/{CategoryGuid:guid}"

<Title Icon="chart-line" Main="@($"{CategoryName} trends in {Year}")" Sub="See how the category expenses change in time">
    <ButtonContent>
        <button class="btn btn-secondary" @onclick="(() => Navigator.OpenOverview(SelectedPeriod, CategoryKey))">
            <Icon Prefix="fas" Identifier="list-ul" />
            <span class="d-none d-lg-inline">
                Year overview
            </span>
        </button>
    </ButtonContent>
</Title>

<PlaceholderContainer IsActive="@(Models == null)" Context="placeholderContext">
    <div class="row no-gutters @placeholderContext.CssClass" style="min-height: calc(100vh - 312px)">
        @foreach (var model in (Models ?? MockModels))
        {
            var size = Models != null ? (MaxAmount > 0 ? model.TotalAmount.Value / MaxAmount * 100 : 0) : Random.Shared.Next(20, 80);

            <div class="col-12 col-lg-1 @(Models != null && model > AppDateTime.Today ? "text-muted" : String.Empty)">
                <div class="d-none d-lg-flex p-1 p-lg-3 h-100 w-100 vertical-bar">
                    <Placeholder>
                        <ChildContent>
                            <div class="w-100" style="height: @size%; background: @CategoryColor.ToHashCode()"></div>
                        </ChildContent>
                        <PlaceholderContent Context="_">
                            <div class="w-100 placeholder" style="height: @size%; background: #e9ecef"></div>
                        </PlaceholderContent>
                    </Placeholder>
                </div>
                <div class="p-1">
                    <div class="d-flex justify-content-between align-items-center d-lg-none text-start">
                        <a href="@Navigator.UrlOverview(model, CategoryKey)">
                            @model.ToMonthString()
                        </a>
                        <Placeholder WordMinLength="2" WordMaxLength="4">
                            <PriceView TagName="small" Value="model.TotalAmount" />
                        </Placeholder>
                    </div>
                    <div class="d-none d-lg-block text-center mt-1">
                        <div class="d-none d-lg-block text-center mt-1">
                            <Placeholder WordMinLength="2" WordMaxLength="4">
                                <PriceView TagName="small" Value="model.TotalAmount" />
                            </Placeholder>
                        </div>
                        <div class="text-center mt-1">
                            <a href="@Navigator.UrlOverview(model, CategoryKey)">
                                <span class="d-none d-lg-inline">
                                    @model.ToMonthString()
                                </span>
                                <span class="d-inline d-lg-none">
                                    @model.Month.ToString("D2")
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-block d-lg-none p-1 p-lg-3 mb-2">
                    <Placeholder>
                        <ChildContent>
                            <div style="width: @size%; background: @CategoryColor.ToHashCode(); height: 10px;"></div>
                        </ChildContent>
                        <PlaceholderContent Context="_">
                            <div class="placeholder" style="width: @size%; background: #e9ecef; height: 10px;"></div>
                        </PlaceholderContent>
                    </Placeholder>
                </div>
            </div>
        }
    </div>
</PlaceholderContainer>