@if (ApiVersion == null)
{
    @ChildContent
}
else
{
    <LayoutView Layout="@typeof(Layouts.Layout)">
        <Title Icon="exclamation-circle"
               Main="Your client is too old"
               Sub="Server version is not supported by this client version"
               ButtonIcon="sync-alt"
               ButtonText="Reload the page to update"
               ButtonClick="@(async () => await ReloadAsync())" />

        <p>
            The problem you are facing might be caused by us.
            <br />
            It's possible that we installed a newer version on the server and your client application is not compatible with it.
        </p>
        <p>
            If this is the case, please, reload the page (or application) and this problem may disappear.
            <br />
            Otherwise, we will be glad if you <a target="_blank" href="@Navigator.UrlGithubRepositoryIssueNew(NewIssueTitle)">report the problem</a>.
        </p>
        <p>
            <strong>We are sorry for this inconvenience.</strong>
        </p>
        <p>
            <table class="text-muted">
                <tr>
                    <th colspan="2">
                        Versions
                    </th>
                </tr>
                <tr>
                    <td>
                        Server (API)
                    </td>
                    <td>
                        <ConvertToString Value="@ApiVersion" />
                    </td>
                </tr>

                @if (ClientVersion != null)
                {
                    <tr>
                        <td>
                            Client
                        </td>
                        <td>
                            <ConvertToString Value="@ClientVersion" />
                        </td>
                    </tr>
                }
            </table>
        </p>
    </LayoutView>
}