@typeparam T where T : struct

<div class="mb-3">
    <label for="summary-sort-property">Field:</label>
    <select class="form-select" id="summary-sort-property" @onchange="OnPropertyChanged" data-autofocus>
        @foreach (var item in Properties)
        {
            <option value="@item.Value" selected="@(item.Value.Equals(Property))">@item.Name</option>
        }
    </select>
</div>
<div class="mb-3">
    <label for="summary-sort-order">Direction:</label>
    <select class="form-select" id="summary-sort-order" @onchange="OnDirectionChanged">
        @foreach (var item in Directions)
        {
            <option value="@item.Value" selected="@(item.Value.Equals(Direction))">@item.Name</option>
        }
    </select>
</div>