@page "/categories"
@attribute [Authorize]

<Money.Components.Title Icon="tag" Main="Categories" Sub="List of categories you distribute expenses into" ButtonText="New Category" ButtonClick="@(() => { CreateModal.Show(); StateHasChanged(); })" />
<ExceptionPanel />

<CategoryName @ref="CreateModal" />
<Confirm @ref="DeleteConfirm" Message="@DeleteMessage" OnConfirmed="@OnDeleteConfirmed" />

<Loading Context="@Loading">
    @if (Models.Count == 0)
    {
        <Alert Title="No data." Message="Let's add some categories." Mode="@AlertMode.Warning" />
    }
    else
    {
        @foreach (var item in Models)
        {
            <div class="alert @item.Color.SelectAccent("back-dark", "back-light")" style="background-color: @item.Color.ToHashCode()">
                <div class="form-row">
                    @if (item.Icon != null)
                    {
                        <div class="col-auto">@item.Icon</div>
                    }
                    <div class="col d-flex @GetItemFlexCssClass(item)">
                        <strong class="mr-1">
                            @item.Name
                        </strong>
                        <span class="gray">
                            @item.Description
                        </span>

                        <div class="nav ml-auto">
                            <div class="@GetItemButtonsMarginCssClass(item)">
                                <IconButton Icon="pen" ToolTip="Rename" Click="@(() => OnActionClick(item, NameModal))" />
                                <IconButton Icon="image" ToolTip="Icon" Click="@(() => OnActionClick(item, IconModal))" />
                                <IconButton Icon="tint" ToolTip="Color" Click="@(() => OnActionClick(item, ColorModal))" />
                                <IconButton Icon="trash-alt" ToolTip="Delete" Click="@(() => OnDeleteClick(item))" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</Loading>

<CategoryName @ref="NameModal" CategoryKey="@Selected?.Key" Name="@Selected?.Name" Description="@Selected?.Description" />
<CategoryIcon @ref="IconModal" CategoryKey="@Selected?.Key" Icon="@Selected?.Icon" />
<CategoryColor @ref="ColorModal" CategoryKey="@Selected?.Key" Color="@Selected?.Color" />
