@page "/categories"
@inherits CategoriesBase

<h1>
    Categories

    <button class="btn btn-primary" onclick="@(() => IsCreateVisible = true)" style="float: right">
        <span class="glyphicon glyphicon-plus"></span>
        New Category
    </button>
</h1>

<CategoryName bind-IsVisible="@IsCreateVisible" />

@foreach (var item in Models)
{
    <div class="alert" style="background-color: @item.Color.ToHashCode()">
        @if (item.Icon != null)
        {
            <span>@item.Icon</span>
        }
        <strong>
            @item.Name
        </strong>
        <span class="gray">
            @item.Description
        </span>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Rename" onclick="@(() => { Selected = item; IsNameEditVisible = true; })">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Icon" onclick="@(() => { Selected = item; IsIconEditVisible = true; })">
                    <span class="glyphicon glyphicon-picture"></span>
                </button>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Color" onclick="@(() => { Selected = item; IsColorEditVisible = true; })">
                    <span class="glyphicon glyphicon-tint"></span>
                </button>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Delete" onclick="@(() => OnDeleteClick(item))">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </li>
        </ul>
    </div>
}

<CategoryName CategoryKey="@Selected?.Key" Name="@Selected?.Name" Description="@Selected?.Description" bind-IsVisible="@IsNameEditVisible" />
<CategoryIcon CategoryKey="@Selected?.Key" Icon="@Selected?.Icon" bind-IsVisible="@IsIconEditVisible" />
<CategoryColor CategoryKey="@Selected?.Key" Color="@Selected?.Color" bind-IsVisible="@IsColorEditVisible" />
