@page "/currencies"
@inherits CurrenciesBase

<h1>
    Currencies

    <button type="button" class="btn btn-primary" onclick="@(() => IsCreateVisible = true)" style="float: right">
        <span class="glyphicon glyphicon-plus"></span>
        New Currency
    </button>
</h1>

<CurrencyEdit bind-IsVisible="@IsCreateVisible" />

@foreach (var item in Models)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>
                @item.Symbol
            </strong>
        </div>
        <div class="panel-body">
            <ul class="nav navbar-nav navbar-right">
                @if (!item.IsDefault)
                {
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Set as default" onclick="@(() => OnChangeDefaultClickAsync(item))" >
                            <span class="glyphicon glyphicon-home"></span>
                        </button>
                    </li>
                }
                @if (Models.Count > 1)
                {
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Add exchange rate" onclick="@(() => { Selected = item; IsListExchangeRateVisible = true; })" >
                            <span class="glyphicon glyphicon-transfer"></span>
                        </button>
                    </li>
                }
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Rename" onclick="@(() => { Selected = item; IsEditVisible = true; })">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </li>
                @if (Models.Count > 1 && !item.IsDefault)
                {
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Delete" onclick="@(() => OnDeleteClickAsync(item))">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </li>
                }
            </ul>

            <p>This currency has unique code @item.UniqueCode.</p>
            @if(item.IsDefault)
            {
                <p>This is a default currency used for displaying outcomes.</p>
            }
        </div>
    </div>

}

<CurrencyEdit UniqueCode="@Selected?.UniqueCode" Symbol="@Selected?.Symbol" bind-IsVisible="@IsEditVisible" />

<ExchangeRateList TargetCurrency="@Selected?.UniqueCode" AddClick="@OnAddExchangeRateClick" bind-IsVisible="@IsListExchangeRateVisible" />
<ExchangeRateCreate TargetCurrency="@Selected?.UniqueCode" bind-IsVisible="@IsCreateExchangeRateVisible" />
