@page "/currencies"
@inherits CurrenciesBase

<Title Icon="gbp" Main="Currencies" Sub="List of currencies you are making outcomes in" ButtonText="New Currency" ButtonClick="@(() => { IsCreateVisible = true; StateHasChanged(); })" />

<CurrencyEdit bind-IsVisible="@IsCreateVisible" />
<Confirm Context="@Delete" />

@foreach (var item in Models)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>
                @item.Symbol
            </strong>
        </div>
        <div class="panel-body">
            <div class="nav navbar-nav navbar-right">
                @if (!item.IsDefault)
                {
                    <IconButton Icon="home" ToolTip="Set as default" Click="@(async () => { await OnChangeDefaultClickAsync(item); StateHasChanged(); })" />
                }

                @if (Models.Count > 1)
                {
                    <IconButton Icon="transfer" ToolTip="Add exchange rate" Click="@(() => { Selected = item; IsListExchangeRateVisible = true; StateHasChanged(); })" />
                }

                <IconButton Icon="pencil" ToolTip="Rename" Click="@(() => { Selected = item; IsEditVisible = true; StateHasChanged(); })" />

                @if (Models.Count > 1 && !item.IsDefault)
                {
                    <IconButton Icon="remove" ToolTip="Delete" Click="@(() => { OnDeleteClick(item); StateHasChanged(); })" />
                }
            </div>

            <p>This currency has unique code @item.UniqueCode.</p>
            @if (item.IsDefault)
            {
                <p>This is a default currency used for displaying outcomes.</p>
            }
        </div>
    </div>

}

<CurrencyEdit UniqueCode="@Selected?.UniqueCode" Symbol="@Selected?.Symbol" bind-IsVisible="@IsEditVisible" />

<ExchangeRateList TargetCurrency="@Selected?.UniqueCode" AddClick="@OnAddExchangeRateClick" bind-IsVisible="@IsListExchangeRateVisible" />
<ExchangeRateCreate TargetCurrency="@Selected?.UniqueCode" bind-IsVisible="@IsCreateExchangeRateVisible" />
