@page "/expenses"
@attribute [Authorize]

<Money.Components.Title Icon="signal" Main="Offline mode" Sub="You can create expenses even without the internet" ButtonText="New Expense" ButtonClick="@CreateNewExpense" />
<ExceptionPanel />

<OutcomeCreate @ref="CreateModal" />

<div class="expenses-bag">
    <Loading Context="@Loading">
        @if (Models.Count == 0)
        {
            <Alert Title="No data." Message="Let's add some expenses." Mode="@AlertMode.Warning" />
        }
        else
        {
            <ExpenseBagPublishButton />

            <div class="cards">
                <CascadingValue Value="@this">
                    @foreach (var model in Models)
                    {
                        <OutcomeCard Model="@model" />
                    }
                </CascadingValue>
            </div>
        }
    </Loading>
</div>