@page "/outcomes/{Year}/{Month}"
@page "/overview/{Year}/{Month}"
@inherits OverviewBase

<h1>
    Outcomes in @MonthModel

    <button type="button" class="btn btn-primary" style="float: right">
        <span class="glyphicon glyphicon-plus"></span>
        New Outcome
    </button>
</h1>

<OutcomeCreate IsVisible="@IsCreateVisible" Closed="@(() => IsCreateVisible = false)" />

@if (Models != null)
{
    if (Models.Count > 0)
    {
        <table class="outcomes table table-hover">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>When</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Models)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.When.ToShortDateString()</td>
                        <td>@item.Amount</td>
                        <td>
                            <div class="actions">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Change Amount" data-toggle="modal" data-target="#outcome-amount-edit" @onclick(() => Selected = item)>
                                    <span class="glyphicon glyphicon-usd"></span>
                                </button>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Change Description" data-toggle="modal" data-target="#outcome-decription-edit" @onclick(() => Selected = item)>
                                    <span class="glyphicon glyphicon-comment"></span>
                                </button>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Change When" data-toggle="modal" data-target="#outcome-when-edit" @onclick(() => Selected = item)>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Delete" @onclick(() => OnDeleteClick(item))>
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <Alert Title="No data." Message="Try adding some outcomes." Mode="@AlertMode.Warning" />
    }
}

@if (Selected != null)
{
    <OutcomeAmount Id="outcome-amount-edit" OutcomeKey="@Selected.Key" Amount="@Selected.Amount.Value" Currency="@Selected.Amount.Currency" />
    <OutcomeDescription Id="outcome-decription-edit" OutcomeKey="@Selected.Key" Description="@Selected.Description" />
    <OutcomeWhen Id="outcome-when-edit" OutcomeKey="@Selected.Key" When="@Selected.When" />
}