@page "/outcomes/{Year}/{Month}"
@page "/overview/{Year}/{Month}"
@page "/overview/{Year}/{Month}/{CategoryGuid}"
@inherits OverviewBase

<h1>
    Outcomes in @MonthModel

    <button type="button" class="btn btn-primary" onclick="@(() => IsCreateVisible = true)" style="float: right">
        <span class="glyphicon glyphicon-plus"></span>
        New Outcome
    </button>
</h1>

<OutcomeCreate bind-IsVisible="@IsCreateVisible" />

@if (Models != null)
{
    if (Models.Count > 0)
    {
        <table class="outcomes table table-hover">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>When</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Models)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.When.ToShortDateString()</td>
                        <td>@FormatPrice(item.Amount)</td>
                        <td>
                            <div class="actions">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Change Amount" onclick="@(() => { Selected = item; IsAmountEditVisible = true; })">
                                    <span class="glyphicon glyphicon-usd"></span>
                                </button>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Change Description" onclick="@(() => { Selected = item; IsDescriptionEditVisible = true; })">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </button>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Change When" onclick="@(() => { Selected = item; IsWhenEditVisible = true; })">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Delete" onclick="@(() => OnDeleteClick(item))">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <Alert Title="No data." Message="Try adding some outcomes." Mode="@AlertMode.Warning" />
    }
}

@if (Selected != null)
{
    <OutcomeAmount OutcomeKey="@Selected.Key" Amount="@Selected.Amount.Value" Currency="@Selected.Amount.Currency" bind-IsVisible="@IsAmountEditVisible" />
    <OutcomeDescription OutcomeKey="@Selected.Key" Description="@Selected.Description" bind-IsVisible="@IsDescriptionEditVisible" />
    <OutcomeWhen OutcomeKey="@Selected.Key" When="@Selected.When" bind-IsVisible="@IsWhenEditVisible" />
}