@page "/search"
@inherits SearchBase

<Money.Components.Title Icon="search" Main="Search" Sub="Searching in outcomes" />

<div class="search">
    <form @onsubmit="@(() => OnSearchAsync())">
        <div class="row">
            <div class="col-sm-9 col-xs-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Search..." @bind="@Text" />
                </div>
            </div>
            <div class="col-sm-1 col-xs-8">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">
                        <Icon Identifier="search" />
                    </button>
                </div>
            </div>
            <div class="col-sm-2 col-xs-4">
                <div class="form-group">
                    <SortButton TType="@OutcomeOverviewSortType" @bind-Current="@SortDescriptor" Changed="@OnSortChanged" />
                </div>
            </div>
        </div>
    </form>

    <Loading Context="@Loading">
        @if (Models == null || Models.Count == 0)
        {
            <Alert Message="No matching outcome found." Mode="@AlertMode.Warning" />
        }
        else
        {
            <div class="cards">
                <CascadingValue Value="@this">
                    @foreach (var item in Models)
                    {
                        <OutcomeCard Model="@item" />
                    }
                </CascadingValue>
            </div>

            <Paging LoadPageAsync="@OnSearchAsync" />
        }
    </Loading>
</div>
