@page "/search"
@attribute [Authorize]

<Money.Components.Title Icon="search" Main="Search" Sub="Search for expenses" />
<ExceptionPanel />

<div class="search">
    <form @onsubmit="@(() => OnSearchAsync())">
        <div class="row">
            <div class="col-md col-sm-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Search..." @bind="@Text" />
                </div>
            </div>
            <div class="col-md-auto col-sm">
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">
                        <Icon Identifier="search" />
                        Search
                    </button>
                </div>
            </div>
            <div class="col-md-auto col-sm-auto">
                <div class="form-group">
                    <SortButton TType="@OutcomeOverviewSortType" @bind-Current="@SortDescriptor" Changed="@OnSortChanged" />
                </div>
            </div>
        </div>
    </form>

    <Loading Context="@Loading">
        @if (Models == null || Models.Count == 0)
        {
            <Alert Message="No matching expense found." Mode="@AlertMode.Warning" />
        }
        else
        {
            <div class="cards">
                <CascadingValue Value="@this">
                    @foreach (var item in Models)
                    {
                        <OutcomeCard Model="@item" />
                    }
                </CascadingValue>
            </div>

            <Paging LoadPageAsync="@OnSearchAsync" />
        }
    </Loading>
</div>
