@typeparam T

<Money.Components.Title Icon="signal" Main="Summary" Sub="@SubTitle" ButtonText="New Expense" ButtonClick="@CreateNewExpense" />
<ExceptionPanel />

<OutcomeCreate @ref="CreateModal" />

<div class="summary">
    <ExpenseBagPublishButton Text="You have expenses created when offline. Upload them now..." class="mb-4" />

    <Loading Context="@Loading">

        @if (Items != null)
        {
            if (Items.Count > 0)
            {
                <SortButton TType="SummarySortType" @bind-Current="@SortDescriptor" Changed="@OnSorted" Size="@Size.Small" />

                <TabSet CssClass="months">
                    @foreach (var item in Items)
                    {
                        <Tab Url="@UrlSummary(item)" CssClass="@(item.Equals(SelectedItem) ? "active" : null)">
                            @item.ToString()
                        </Tab>
                    }
                </TabSet>
            }
            else
            {
                <Alert Title="No data." Message="Let's add some expenses." Mode="@AlertMode.Warning" />
            }
        }

        @if (Categories != null)
        {
            <div class="graph">
                @if (TotalAmout != null)
                {
                    <div class="card bar-graph bar-graph-summary" @onclick="@(() => OpenOverview(SelectedItem))">
                        <div class="card-body">
                            <h3 class="description">
                                <span class="icon">📈</span>
                                <span class="name">Summary</span>
                            </h3>

                            <div class="value">
                                <div class="amount">@FormatPrice(TotalAmout)</div>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var category in Categories)
                {
                    <div class="card bar-graph" @onclick="@(() => OpenOverview(SelectedItem, category.Key))">
                        <div class="card-body">
                            <h3 class="description" title="@category.Description">
                                <span class="icon">@category.Icon</span>
                                <span class="name">@category.Name</span>
                            </h3>

                            <div class="value">
                                <div class="amount">@FormatPrice(category.TotalAmount)</div>
                                <div class="bar" style="width: @GetPercentualValue(category)%; background-color: @category.Color.ToHashCode();"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </Loading>
</div>