@page "/"
@inherits SummaryBase

<h1>
    Summary

    <button type="button" class="btn btn-primary" onclick="@(() => IsCreateVisible = true)" style="float: right">
        <span class="glyphicon glyphicon-plus"></span>
        New Outcome
    </button>
</h1>

<OutcomeCreate bind-IsVisible="@IsCreateVisible" Closed="@(() => IsCreateVisible = false)" />

@if (Months != null)
{
    if (Months.Count > 0)
    {
        <ul class="nav nav-tabs">
            @foreach (var month in Months)
            {
                @if (month == SelectedMonth)
                {
                    <li role="presentation" class="active">
                        <a href="#" onclick="@(() => OnMonthSelected(month))">@month.ToString()</a>
                    </li>
                }
                else
                {
                    <li role="presentation">
                        <a href="#" onclick="@(() => OnMonthSelected(month))">@month.ToString()</a>
                    </li>
                }
            }
        </ul>
    }
    else
    {
        <div class="alert alert-warning" role="alert">No data.</div>
    }
}

@if (Categories != null)
{
    <div class="outcomes">
        @if (TotalAmout != null)
        {
            <div class="panel panel-default bar-graph bar-graph-summary">
                <div class="panel-body">
                    <h3 class="description">
                        <span class="glyphicon glyphicon-signal"></span>
                        <a href="/overview/@SelectedMonth.Year/@SelectedMonth.Month" class="name">Summary</a>
                    </h3>

                    <div class="value">
                        <div class="amount">@TotalAmout</div>
                    </div>
                </div>
            </div>
        }

        @foreach (var category in Categories)
        {
            <div class="panel panel-default bar-graph">
                <div class="panel-body">
                    <div class="value">
                        <div class="amount">@category.TotalAmount</div>
                        <div class="bar" style="@GetCategoryBarStyleValue(category)"></div>
                    </div>

                    <h3 class="description">
                        <span>@category.Icon</span>
                        <span class="name">@category.Name</span>
                    </h3>
                </div>
            </div>
        }
    </div>
}

@functions
{
    protected string GetCategoryBarStyleValue(CategoryWithAmountModel category)
        => $"width: {GetPercentualValue(category)}%; background-color: {category.Color.ToHashCode()};";
}