@page "/"
@page "/{Year}/{Month}"
@inherits SummaryBase

<Money.Components.Title Icon="signal" Main="Summary" Sub="Per-month summary of outcomes in categories" ButtonText="New Outcome" ButtonClick="@(() => { IsCreateVisible = true; StateHasChanged(); })" />
<ExceptionPanel />

<OutcomeCreate @bind-IsVisible="@IsCreateVisible" />

<div class="summary">
    <Loading Context="@Loading">

        @if (Months != null)
        {
            if (Months.Count > 0)
            {
                <SortButton TType="SummarySortType" @bind-Current="@SortDescriptor" Changed="@OnSorted" />

                <TabSet CssClass="months">
                    @foreach (var month in Months)
                    {
                        <Tab Url="@Navigator.UrlSummary(month)" CssClass="@(month == SelectedMonth ? "active" : null)">
                            @month.ToString()
                        </Tab>
                    }
                </TabSet>
            }
            else
            {
                <Alert Title="No data." Message="Try adding some outcomes." Mode="@AlertMode.Warning" />
            }
        }

        @if (Categories != null)
        {
            <div class="graph">
                @if (TotalAmout != null)
                {
                    <div class="panel panel-default bar-graph bar-graph-summary" @onclick="@(() => Navigator.OpenOverview(SelectedMonth))">
                        <div class="panel-body">
                            <h3 class="description">
                                <span class="icon">📈</span>
                                <span class="name">Summary</span>
                            </h3>

                            <div class="value">
                                <div class="amount">@FormatPrice(TotalAmout)</div>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var category in Categories)
                {
                    <div class="panel panel-default bar-graph" @onclick="@(() => Navigator.OpenOverview(SelectedMonth, category.Key))">
                        <div class="panel-body">
                            <h3 class="description" title="@category.Description">
                                <span class="icon">@category.Icon</span>
                                <span class="name">@category.Name</span>
                            </h3>

                            <div class="value">
                                <div class="amount">@FormatPrice(category.TotalAmount)</div>
                                <div class="bar" style="width: @GetPercentualValue(category)%; background-color: @category.Color.ToHashCode();"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </Loading>
</div>