@using Neptuo.Models.Keys
@inherits DialogBase
@inject ICommandDispatcher Commands
@inject ColorCollection Colors

<Modal Title="Pick a Color for the Category" PrimaryButtonClick="@OnSaveClick" bind-IsVisible="@IsVisible">
    @foreach (Color color in Colors)
    {
        <button class="btn btn-link btn-color btn-selectable @(Color == color ? "btn-selectable-selected" : "")" style="background-color: @color.ToHashCode();" onclick="@(() => Color = color)"></button>
    }
</Modal>

@functions 
{
    private Color? originalColor;

    [Parameter]
    protected IKey CategoryKey { get; set; }

    [Parameter]
    protected Color? Color { get; set; }

    protected override void OnParametersSet()
    {
        originalColor = Color;
    }

    protected bool OnSaveClick()
    {
        if (originalColor != Color)
        {
            Execute();
            return true;
        }
        else
        {
            return false;
        }
    }

    private async void Execute()
    {
        if (Color != null)
        {
            await Commands.HandleAsync(new ChangeCategoryColor(CategoryKey, Color.Value));
            originalColor = Color;
        }
    }
}
