@inherits DialogBase
@inject ICommandDispatcher Commands
@inject IQueryDispatcher Queries
@inject ILogFactory LogFactory

<Modal Title="Set Exchange Rate" Size="@ModalSize.Small" PrimaryButtonText="Save" PrimaryButtonClick="@OnSaveClick" bind-IsVisible="@IsVisible">
    <ValidationSummary ErrorMessages="@ErrorMessages" />
    <div class="form-group">
        <label for="exchangerate-source">Source Currency:</label>
        <select class="form-control" id="exchangerate-source" bind="@SourceCurrency" data-autofocus>
            @if (Currencies != null)
            {
                @foreach (var currency in Currencies)
                {
                    if (currency.UniqueCode != TargetCurrency)
                    {
                        if (SourceCurrency == null)
                        {
                            SourceCurrency = currency.UniqueCode;
                        }

                        <option value="@currency.UniqueCode">
                            @currency.Symbol
                        </option>
                    }
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exchangerate-rate">Rate:</label>
        <input type="number" class="form-control" id="exchangerate-rate" bind="@Rate" />
    </div>
    <div class="form-group">
        <label for="exchangerate-target">Target Currency:</label>
        <select class="form-control" id="exchangerate-target" disabled>
            @if (Currencies != null)
            {
                @foreach (var currency in Currencies)
                {
                    if (currency.UniqueCode == TargetCurrency)
                    {
                        <option value="@currency.UniqueCode">
                            @currency.Symbol
                        </option>
                    }
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exchangevalidfrom-validfrom">Valid from:</label>
        <input type="date" class="form-control" id="exchangevalidfrom-validfrom" bind="@ValidFrom" format-value="yyy-MM-dd" />
    </div>
</Modal>

@functions
{
    private ILog log;

    protected ILog Log
    {
        get
        {
            if (log == null)
                log = LogFactory.Scope("ExchangeRateCreate");

            return log;
        }
    }

    protected List<string> ErrorMessages { get; } = new List<string>();

    protected List<CurrencyModel> Currencies { get; private set; }

    protected double Rate { get; set; }

    protected string SourceCurrency { get; set; }

    [Parameter]
    protected string TargetCurrency { get; set; }

    protected DateTime ValidFrom { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        if (IsVisible)
        {
            Reset();
            Currencies = await Queries.QueryAsync(new ListAllCurrency());
        }
    }

    protected void Reset()
    {
        Rate = 1;
        ValidFrom = DateTime.Today;
    }

    protected bool OnSaveClick()
    {
        if (Validate())
        {
            Commands.HandleAsync(new SetExchangeRate(SourceCurrency, TargetCurrency, ValidFrom, Rate));
            Reset();
            return true;
        }
        else
        {
            return false;
        }
    }

    private bool Validate()
    {
        Log.Debug($"Rate: {Rate}, SourceCurrency: {SourceCurrency}, TargetCurrency: {TargetCurrency}");

        ErrorMessages.Clear();
        Validator.AddExchangeRate(ErrorMessages, Rate);
        Validator.AddExchangeRateSourceCurrency(ErrorMessages, SourceCurrency);
        Validator.AddExchangeRateTargetCurrency(ErrorMessages, TargetCurrency);
        Validator.AddExchangeRateCurrency(ErrorMessages, SourceCurrency, TargetCurrency);

        return ErrorMessages.Count == 0;
    }
}