@inherits ModalDialog

<Modal @ref="Modal" Title="@Title">
    <ChildContent>
        <Validation ErrorMessages="@ErrorMessages" />
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="expense-amount">Amount:</label>
                    <input type="text" class="form-control" id="expense-amount" @bind="@Amount" data-autofocus />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="expense-currency">Currency:</label>
                    <select class="form-control" id="expense-currency" @bind="@Currency">
                        @if (Currencies != null)
                        {
                            @foreach (var currency in Currencies)
                            {
                                <option value="@currency.UniqueCode">
                                    @currency.Symbol
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="expense-description">Description:</label>
            <input type="text" class="form-control" id="expense-description" @bind="@Description" />
        </div>
        <div class="form-group">
            <label for="expense-when">When:</label>
            <input type="date" class="form-control" id="expense-when" @bind="@When" @bind:format="yyyy-MM-dd" />
        </div>
        <div class="form-group">
            <label>Category:</label>
            @if (Categories != null)
            {
                @foreach (var category in Categories)
                {
                    <button type="button" class="btn btn-block btn-selectable @(category.Key.Equals(CategoryKey) ? "btn-selectable-selected" : "")" style="background-color: @category.Color.ToHashCode();" @onclick="@(() => CategoryKey = category.Key)">
                        <span>@category.Icon</span>
                        <strong>@category.Name</strong>
                        <span>@category.Description</span>
                    </button>
                }
            }
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary btn-sm" @onclick="@OnSaveClick">@SaveButtonText</button>
    </Buttons>
</Modal>
<Confirm @ref="PrerequisitesConfirm" Message="To create an expense, you need to first create a currency and category." OnConfirmed="OnPrerequisitesConfirmed" />
