@inherits ModalDialog

<Modal @ref="Modal" Title="Change an amount of the outcome">
    <ChildContent>
        <Validation ErrorMessages="@ErrorMessages" />
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="outcome-amount">Amount:</label>
                    <input type="text" class="form-control" id="outcome-amount" data-autofocus @bind="@Amount" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="outcome-currency">Currency:</label>
                    <select class="form-control" id="outcome-currency" @bind="@Currency">
                        @if (Currencies != null)
                        {
                            @foreach (var currency in Currencies)
                            {
                                <option value="@currency.UniqueCode">
                                    @currency.Symbol
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary btn-sm" @onclick="@OnSaveClick">Save</button>
    </Buttons>
</Modal>
