<div @ref="Container" class="modal fade" tabindex="-1" role="dialog">
    <div class="@DialogCssClass" role="document">
        @Form(
            @<div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-truncate">
                        @if (!String.IsNullOrEmpty(TitleIcon))
                        {
                            <Icon Identifier="@TitleIcon" class="mr-1" />
                        }

                        @Title
                    </h4>
                    <button type="button" class="btn-close" @onclick="@Hide"></button>
                </div>
                <div class="modal-body @BodyCssClass">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    @Buttons
                    <button type="button" class="btn btn-default" @onclick="@OnCloseButtonClick">@CloseButtonText</button>
                </div>
            </div>
        )
    </div>
</div>

@code
{

    RenderFragment Form(RenderFragment content)
    {
        if (IsForm)
        {
            return @<form @onsubmit="@OnFormSubmit" @onsubmit:preventDefault="true">@content</form>;
        }
        
        return content;
    }
}