@page "/account/login"

<Title Icon="user-shield" Main="Log in" Sub="Use a local account to log in" />
<ExceptionPanel />

<div class="login">
    <div class="alert alert-info">
        You can sign in as <strong>demo</strong> user with <strong>demo</strong> password or register your own account.
    </div>

    <Validation ErrorMessages="@ErrorMessages" />
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <section>
                <form @onsubmit="@OnSubmitAsync">
                    <div class="form-group">
                        <label for="UserName">User name</label>
                        <input id="UserName" class="form-control" type="text" autofocus @bind="@UserName" />
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input id="Password" class="form-control" type="password" @bind="@Password" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="RememberMe">
                                <input id="RememberMe" type="checkbox" @bind="@IsPermanent" />
                                Remember me?
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                        <button type="button" class="btn btn-outline-secondary" @onclick="@OnDemoSubmitAsync">
                            <Icon Identifier="user-secret" />
                            Login with <strong>demo</strong> user
                        </button>
                        <span class="ml-1">
                            <Loading Context="@Loading" />
                        </span>
                    </div>
                    <div class="form-group">
                        <p>
                            <a href="@Navigator.UrlAccountRegister()">Register as a new user?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>