@inherits BlazorLayoutComponent
@inject Navigator Navigator

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Navigator.UrlSummary()">Money</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Navigator.UrlSummary()">Summary</a>
                </li>
                <li>
                    <a href="@Navigator.UrlCategories()">Categories</a>
                </li>
                <li>
                    <a href="@Navigator.UrlCurrencies()">Currencies</a>
                </li>
                <li>
                    <a href="@Navigator.UrlAbout()">About</a>
                </li>
            </ul>
            <LoginInfo />
        </div>
    </div>
</nav>
<div class="container body-content">
    @Body

    <hr />

    <footer>
        <p>&copy; 2018 - Neptuo</p>
    </footer>
</div>