@inherits MainMenuBase

<NavLink class="navbar-brand" href="@Navigator.UrlSummary()">
    Money
    <AuthorizeView>
        <Authorized>
            <ApiHubConnectionStatus IsTextVisible="false" />
        </Authorized>
    </AuthorizeView>
</NavLink>
<HamburgerButton CssClass="navbar-toggler" Click="@OnMainMenuToggleClick" />
<div class="navbar-collapse @(IsMainMenuVisible ? "" : "collapse")">
    <ServerConnection>
        <Online>

            <ul class="nav navbar-nav mr-auto mt-3 mt-lg-0 @MenuLeftMarginCssClass">
                <MainMenuLink href="@Navigator.UrlSummary()" PageType="@typeof(Pages.SummaryMonth)">
                    <Icon Identifier="chart-pie" />
                    Monthly
                </MainMenuLink>
                <MainMenuLink Href="@Navigator.UrlSummary(new YearModel(DateTime.Today.Year))" PageType="@typeof(Pages.SummaryYear)">
                    <Icon Identifier="circle" />
                    Yearly
                </MainMenuLink>
                <MainMenuLink Href="@Navigator.UrlSearch()">
                    <Icon Identifier="search" />
                    Search
                </MainMenuLink>
                <MainMenuSeparator />
                <MainMenuLink Href="@Navigator.UrlCategories()">
                    <Icon Identifier="tag" />
                    Categories
                </MainMenuLink>
                <MainMenuLink Href="@Navigator.UrlCurrencies()">
                    <Icon Identifier="pound-sign" />
                    Currencies
                </MainMenuLink>
                <MainMenuSeparator />
                <li class="nav-item">
                    <PwaInstall />
                </li>
                <MainMenuLink Href="@Navigator.UrlAbout()">
                    <Icon Identifier="info-circle" />
                    <span class="d-lg-none d-xl-inline">
                        About
                    </span>
                </MainMenuLink>
            </ul>
            <ul class="nav navbar-nav @MenuLeftMarginCssClass">
                <MainMenuSeparator IsVisibleOnDesktop="false" />
            </ul>
            <UserInfo ListCssClass="@MenuLeftMarginCssClass" />

        </Online>
    </ServerConnection>
</div>
