@inherits MainMenuBase

<div class="navbar-header">
    <HamburgerButton CssClass="navbar-toggle" Click="@OnMainMenuToggleClick" />
    <NavLink class="navbar-brand" href="@Navigator.UrlSummary()">Money</NavLink>
</div>
<div id="#navbar-main" class="navbar-collapse @(IsMainMenuVisible ? "" : "collapse")">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                Outcomes
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <NavLink href="@Navigator.UrlSummary()">Summary</NavLink>
                </li>
                <li>
                    <NavLink href="@Navigator.UrlSearch()">Search</NavLink>
                </li>
            </ul>
        </li>
        <li>
            <NavLink href="@Navigator.UrlCategories()">Categories</NavLink>
        </li>
        <li>
            <NavLink href="@Navigator.UrlCurrencies()">Currencies</NavLink>
        </li>
        <li>
            <NavLink href="@Navigator.UrlAbout()">About</NavLink>
        </li>
    </ul>
    <LoginInfo />
</div> 
