@inherits MainMenuBase

<NavLink class="navbar-brand" href="@Navigator.UrlSummary()">Money</NavLink>
<HamburgerButton CssClass="navbar-toggler" Click="@OnMainMenuToggleClick" />
<div class="navbar-collapse @(IsMainMenuVisible ? "" : "collapse")">
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                Outcomes
                <span class="caret"></span>
            </a>

            <div class="dropdown-menu">
                <NavLink class="dropdown-item" href="@Navigator.UrlSummary()">Monthly</NavLink>
                <NavLink class="dropdown-item" href="@Navigator.UrlSummary(new YearModel(DateTime.Today.Year))">Yearly</NavLink>
                <div class="dropdown-divider"></div>
                <NavLink class="dropdown-item" href="@Navigator.UrlSearch()">Search</NavLink>
            </div>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="@Navigator.UrlCategories()">Categories</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="@Navigator.UrlCurrencies()">Currencies</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="@Navigator.UrlAbout()">About</NavLink>
        </li>
    </ul>
    <LoginInfo />
</div> 
