@inherits MainMenuBase

<NavLink class="navbar-brand" href="@Navigator.UrlSummary()">Money</NavLink>
<HamburgerButton CssClass="navbar-toggler" Click="@OnMainMenuToggleClick" />
<div class="navbar-collapse @(IsMainMenuVisible ? "" : "collapse")">
    <Network>
        <Online>

            <ul class="nav navbar-nav mr-auto mt-3 mt-lg-0 @MenuLeftMarginCssClass">
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlSummary()" Match="@NavLinkMatch.All">
                        <Icon Identifier="chart-pie" />
                        Monthly
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlSummary(new YearModel(DateTime.Today.Year))">
                        <Icon Identifier="circle" />
                        Yearly
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlSearch()">
                        <Icon Identifier="search" />
                        Search
                    </NavLink>
                </li>
                <MainMenuSeparator />
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlCategories()">
                        <Icon Identifier="tags" />
                        Categories
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlCurrencies()">
                        <Icon Identifier="dollar-sign" />
                        Currencies
                    </NavLink>
                </li>
                <MainMenuSeparator />
                <li class="nav-item">
                    <PwaInstall />
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlAbout()">
                        <Icon Identifier="info-circle" />
                        <span class="d-lg-none d-xl-inline">
                            About
                        </span>
                    </NavLink>
                </li>
            </ul>
            <ul class="nav navbar-nav @MenuLeftMarginCssClass">
                <MainMenuSeparator IsVisibleOnDesktop="false" />
            </ul>
            <UserInfo ListCssClass="@MenuLeftMarginCssClass" />

        </Online>
    </Network>
</div>
