@if (IsAuthenticated || Loading.IsLoading)
{
    <form class="form-inline" @onsubmit="@OnLogoutAsync">
        <ul class="nav navbar-nav @ListCssClass">
            <Loading Context="@Loading">
                <LoadingContent>
                    <li class="nav-item">
                        <span class="navbar-text">
                            Loading...
                        </span>
                    </li>
                </LoadingContent>
                <ChildContent>
                    @if (Profile != null)
                    {
                        <MainMenuLink Href="@Navigator.UrlUserManage()" HrefMatch="@MainMenuLinkMatch.StartsWith">
                            <Icon Identifier="user" />
                            @Profile.UserName
                        </MainMenuLink>
                        <li class="nav-item">
                            <button type="button" class="btn btn-link navbar-btn nav-link" @onclick="@OnLogoutAsync">
                                <Icon Identifier="sign-out-alt" />
                                <span class="d-lg-none d-xl-inline">
                                    Log out
                                </span>
                            </button>
                        </li>
                    }
                </ChildContent>
            </Loading>
        </ul>
    </form>
}
