@inherits ModalDialog

<Modal @ref="Modal" Title="Pick a Color for the Category" Size="@Size.Large">
    <ChildContent>
        @foreach (Color color in Colors)
        {
            <button class="btn btn-link btn-color btn-selectable @(Color == color ? "btn-selectable-selected" : "")" style="background-color: @color.ToHashCode();" @onclick="@(() => Color = color)" />
        }
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">Save</button>
    </Buttons>
</Modal>
