@inherits ModalDialog

<Modal @ref="Modal" Title="@Title">
    <ChildContent>
        <Validation ErrorMessages="@ErrorMessages" />

        <div class="form-group">
            <label for="currency-unique-code">Unique Code:</label>
            <input type="text" class="form-control" id="currency-unique-code" placeholder="Currency Unique Code" data-autofocus="@IsUniqueCodeEnabled" disabled="@(!IsUniqueCodeEnabled)" @bind="@UniqueCode" />
        </div>
        <div class="form-group">
            <label for="currency-symbol">Symbol:</label>
            <input type="text" class="form-control" id="currency-symbol" placeholder="Currency Display Symbol" data-autofocus="@(!IsUniqueCodeEnabled)" @bind="@Symbol" />
        </div>
        @if (isNew)
        {
            <div class="form-group">
                <button class="btn btn-sm btn-outline-secondary" @onclick="SetUsd">$</button>
                <button class="btn btn-sm btn-outline-secondary" @onclick="SetEur">€</button>
                <button class="btn btn-sm btn-outline-secondary" @onclick="SetCzk">Kč</button>
            </div>
        }
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">@SaveButtonText</button>
    </Buttons>
</Modal>

