@if (Model != null)
{
    <div class="row align-items-center border-bottom py-3">
        <div class="col-4 col-md-2 mb-2 mb-md-0">
            <DateValue Value="Model.When" />
        </div>
        <div class="col-8 col-md-3 text-md-right mb-2 mb-md-0 text-right">
            <h3 class="m-0">@Context.CurrencyFormatter?.Format(Model.Amount)</h3>
        </div>
        <div class="col-auto col-md-2 mb-2 mb-md-0 @CategoryColor.SelectAccent("back-dark", "back-light")">
            <span class="badge" style="background-color: @CategoryColor.ToHashCode()">@CategoryName</span>
        </div>
        <div class="col mb-2 mb-md-0">
            @Model.Description

            @if (Model.IsFixed)
            {
                <em class="text-muted ml-1">Fixed</em>
            }
        </div>
        <div class="col-auto">
            <div class="sort dropdown">
                <IconButton Icon="ellipsis-v" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" @onclick="@OnEditAmount">
                        <Icon Identifier="dollar-sign" />
                        Amount
                    </a>
                    <a class="dropdown-item" @onclick="@OnEditDescription">
                        <Icon Identifier="comment" />
                        Description
                    </a>
                    <a class="dropdown-item" @onclick="@OnEditWhen">
                        <Icon Identifier="calendar" />
                        When
                    </a>
                    <hr class="dropdown-divider" />
                    <a class="dropdown-item" @onclick="@OnDuplicate">
                        <Icon Identifier="clone" />
                        Duplicate
                    </a>
                    <a class="dropdown-item" @onclick="@OnCreateTemplate">
                        <Icon Identifier="redo" />
                        As Template
                    </a>
                    <hr class="dropdown-divider" />
                    <a class="dropdown-item" @onclick="@OnDelete">
                        <Icon Identifier="trash-alt" />
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
}