@inherits ModalDialog

<Modal @ref="Modal" Title="Create a new Expense Template" IsOverflow="true">
    <ChildContent>
        <Validation ErrorMessages="@ErrorMessages" />
        <div class="mb-3">
            <label class="form-label" for="expense-amount">Amount:</label>
            <AmountBox Id="expense-amount" AutoFocus="true" AutoSelect="true" @bind-Value="@Amount" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="expense-description">Description:</label>
            <input type="text" class="form-control" id="expense-description" @bind="@Description" />
        </div>
        <div class="mb-3">
            <label class="form-label">Category:</label>
            @if (Categories != null)
            {
                <div class="row g-2">
                    @foreach (var category in Categories)
                    {
                        <div class="col-6 col-md-4">
                            <button type="button" class="btn btn-selectable w-100 h-100 @(category.Key.Equals(CategoryKey) ? "btn-selectable-selected" : "") @category.Color.SelectAccent("back-dark", "back-light")" style="background-color: @category.Color.ToHashCode();" @onclick="@(() => CategoryKey = category.Key)">
                                <div>
                                    <h2>@category.Icon</h2>
                                </div>
                                <div class="text-truncate">
                                    <strong>@category.Name</strong>
                                </div>
                                <div class="text-truncate">
                                    <span>@EnsureHtmlWhitespace(category.Description)</span>
                                </div>
                            </button>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" @bind="IsFixed" />
                Fixed
                <span class="text-muted">(doesn't shown in summary)</span>
            </label>
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">Create</button>
    </Buttons>
</Modal>

<Confirm @ref="PrerequisitesConfirm" Message="To create an expense, you need to first create a currency and category." OnConfirmed="OnPrerequisitesConfirmed" />