@inherits ModalDialog

<Modal @ref="Modal" Title="@Title">
    <ChildContent>
        <Validation ErrorMessages="@ErrorMessages" />
        <div class="form-row">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="income-amount">Amount:</label>
                    <AmountBox @bind-Value="@Amount" Id="income-amount" AutoFocus="true" AutoSelect="true" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="income-currency">Currency:</label>
                    <select class="form-control" id="income-currency" @bind="@Currency">
                        @if (Currencies != null)
                        {
                            @foreach (var currency in Currencies)
                            {
                                <option value="@currency.UniqueCode">
                                    @currency.Symbol
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="income-description">Description:</label>
            <input type="text" class="form-control" id="income-description" @bind="@Description" />
        </div>
        <div class="form-group">
            <label for="income-when">When:</label>
            <DateBox Id="income-when" @bind-Value="When" />
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">@SaveButtonText</button>
    </Buttons>
</Modal>
