@inherits ModalDialog

<Modal @ref="Modal" Title="@Title">
    <ChildContent>
        <Validation ErrorMessages="@ErrorMessages" />
        <div class="mb-3">
            <label class="form-label" for="expense-amount">Amount:</label>
            <AmountBox Id="expense-amount" AutoFocus="true" AutoSelect="true" @bind-Value="@Amount" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="income-description">Description:</label>
            <input type="text" class="form-control" id="income-description" @bind="@Description" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="income-when">When:</label>
            <DateBox Id="income-when" @bind-Value="When" />
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">@SaveButtonText</button>
    </Buttons>
</Modal>
<Confirm @ref="PrerequisitesConfirm" Message="To create an income, you need to first create a currency." OnConfirmed="OnPrerequisitesConfirmed" />