<div class="outcome-card">
    <div class="data">
        <h2 class="amount">@Context.CurrencyFormatter.Format(Model.Amount)</h2>
        <p class="when">
            <DateValue Value="Model.When" />
        </p>
        <p class="description">@Model.Description</p>
        <p class="category @CategoryColor.SelectAccent("back-dark", "back-light")">
            <span class="badge" style="background-color: @CategoryColor.ToHashCode()">@CategoryName</span>
        </p>
        @if (Model.IsFixed)
        {
            <p class="mt-3 mb-0 text-muted">
                <em>Fixed</em>
            </p>
        }
    </div>
    <div class="controls">
        <IconButton Icon="dollar-sign" ToolTip="Change Amount" Click="@OnEditAmount" />
        <IconButton Icon="comment" ToolTip="Change Description" Click="@OnEditDescription" />
        <IconButton Icon="calendar" ToolTip="Change When" Click="@OnEditWhen" />
        <IconButton Icon="trash-alt" ToolTip="Delete" Click="@OnDelete" />
    </div>
    <div class="clear"></div>
</div>