<TemplateContent Name="FixedTop">
    <div class="header d-none d-sm-block">
        <div class="container">
            <div class="d-flex">
                <h3 class="mre-1">
                    @if (!String.IsNullOrEmpty(Icon))
                    {
                        <Icon Identifier="@Icon" class="ms-1 me-2" />
                    }

                    @Main
                </h3>
                @Actions(false)
            </div>

            @if (!String.IsNullOrEmpty(Sub))
            {
                <h6 class="d-none d-md-block">
                    @Sub
                </h6>
            }

        </div>
    </div>
</TemplateContent>
<TemplateContent Name="MobilePageTitle">
    <h3 class="mb-0" style="font-weight: 100;">
        @if (!String.IsNullOrEmpty(Icon))
        {
            <Icon Identifier="@Icon" class="ms-1 me-2" />
        }

        @Main
    </h3>

    @if (!String.IsNullOrEmpty(Sub))
    {
        <h6 class="mb-0" style="font-size: 9px; font-weight: 100;">
            @Sub
        </h6>
    }
</TemplateContent>
<TemplateContent Name="MobilePageActions">
    @Actions(true)
</TemplateContent>
<TemplateContent Name="PreContent">
    <div class="d-block d-sm-none">
        <div class="header-append-mobile"></div>
    </div>

    @if (!String.IsNullOrEmpty(Sub))
    {
        <div class="d-none d-md-block">
            <div class="header-append"></div>
        </div>

        <div class="d-none d-sm-block d-md-none">
            <div class="header-append-small"></div>
        </div>
    }
    else
    {
        <div class="d-none d-sm-block">
            <div class="header-append-small"></div>
        </div>
    }
</TemplateContent>

@code
{
    RenderFragment Actions(bool isMobileTarget)
    {
        return 
        @<div class="actions @(isMobileTarget ? "d-sm-none" : string.Empty)">
            @if (!String.IsNullOrEmpty(ButtonText) || ButtonClick != null)
            {
                <button type="button" class="btn btn-primary" @onclick="@(() => ButtonClick?.Invoke())">
                    @if (!String.IsNullOrEmpty(ButtonIcon))
                    {
                        <Icon Identifier="@ButtonIcon" class="me-1" />
                    }

                    @ButtonText
                </button>
            }

            @ButtonContent
        </div>;
    }
}