@if (Items != null && Items.Count > 0)
{
    <nav class="fixed-bottom d-block d-sm-none bottom-bar">
        <div class="container">
            <div class="row my-2 items-@Items.Count">
                @foreach (var item in Items)
                {
                    <div @key="item" class="col d-grid">
                        @if (item.Url != null)
                        {
                            <Match Url="@item.Url" PageType="@item.PageType" Context="IsActive">
                                <a href="@item.Url" class="btn @(IsActive ? "btn-primary" : "bg-light-subtle")" @onclick="(() => OnLinkClick(item.IsBlurMenuAfterClick))">
                                    <Icon Identifier="@item.Icon" />
                                    <span class="text">
                                        @item.Text
                                    </span>
                                </a>
                            </Match>
                        }
                        else if (item.Text == "Main menu")
                        {
                            <button @onclick="OnToggleMainMenu" class="btn bg-light-subtle">
                                <Icon Identifier="@item.Icon" />
                                <span class="text">
                                    @item.Text
                                </span>
                            </button>
                        }
                        else
                        {
                            <button @onclick="@item.OnClick" class="btn bg-light-subtle">
                                <Icon Identifier="@item.Icon" />
                                <span class="text">
                                    @item.Text
                                </span>
                            </button>
                        }
                    </div>
                }
            </div>
        </div>
    </nav>

    <Offcanvas @ref="Offcanvas" Title="Money by Neptuo" class="offcanvas-bottom-menu">
        <HeaderContent>
            @if (MainMenu != null)
            {
                var about = MainMenu.More.FirstOrDefault(i => i.Text == "About");
                if (about != null)
                {
                    <a href="@about.Url" class="btn bg-light-subtle btn-sm ms-3">
                        <Icon Identifier="@about.Icon" />
                        @about.Text
                    </a>
                }
            }
        </HeaderContent>
        <ChildContent>
            @if (MainMenu != null)
            {
                <div class="row g-3">
                    @foreach (var item in MainMenu.Views)
                        @MainMenuItem(item)
                    @foreach (var item in MainMenu.More.Where(i => i.Text != "About"))
                        @MainMenuItem(item)
                </div>
                <hr />
                <div class="row g-3">
                    @foreach (var item in MainMenu.User)
                        @MainMenuItem(item)
                </div>
            }
        </ChildContent>
    </Offcanvas>
}

@code
{
    RenderFragment MainMenuItem(MenuItemModel item)
    {
        var isLogout = item.Text == "Logout";
        return 
            @<div class="col-3 d-grid">
                @if (item.Url != null)
                {
                    <Match Url="@item.Url" PageType="@item.PageType" Context="IsActive">
                        <a href="@item.Url" class="btn @(IsActive ? "btn-primary" : "bg-light-subtle")" @onclick="(() => OnLinkClick(item.IsBlurMenuAfterClick))">
                            <Icon Identifier="@item.Icon" />
                            <span class="text d-block">
                                @item.Text
                            </span>
                        </a>
                    </Match>
                }
                else
                {
                    <button @onclick="@item.OnClick" class="btn bg-light-subtle @(isLogout ? "text-danger" : string.Empty)">
                        <Icon Identifier="@item.Icon" />
                        <span class="text d-block">
                            @item.Text
                        </span>
                    </button>
                }
            </div>
        ;
    }
}