@inherits MainMenuBase

<NavLink class="navbar-brand" href="@Navigator.UrlSummary()">
    <img srcset="images/icon-w-40x40.png, images/icon-w-192x192.png 1.5x" src="images/icon-w-40x40.png" width="40" title="Money by Neptuo" />
    <span class="d-none d-sm-inline">Money</span>
    <span class="brand-author d-none d-sm-inline">by Neptuo</span>
    <AuthorizeView>
        <Authorized>
            <ApiHubConnectionStatus IsTextVisible="false" />
        </Authorized>
    </AuthorizeView>
</NavLink>
<div class="collapse navbar-collapse">
    <ServerConnection>
        <Online>
            <ul class="nav navbar-nav me-auto">
                <li class="nav-item dropdown d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <Icon Identifier="eye" />
                        Views
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in ViewsItems)
                        {
                            <li>
                                <a class="dropdown-item" href="@item.Url">
                                    <Icon Identifier="@item.Icon" />
                                    @item.Text
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                @foreach (var item in ViewsItems)
                {
                    <MainMenuLink CssClass="d-none d-md-inline-block" href="@item.Url" PageType="@item.PageType">
                        <Icon Identifier="@item.Icon" />
                        <span class="d-none d-md-inline">@item.Text</span>
                    </MainMenuLink>
                }
                <li class="nav-item dropdown d-xl-none">
                    <a class="nav-link dropdown-toggle dropdown-nocaret d-none d-md-inline-block" href="#" data-bs-toggle="dropdown">
                        <Icon Identifier="ellipsis-h" />
                    </a>
                    <a class="nav-link dropdown-toggle d-md-none" href="#" data-bs-toggle="dropdown">
                        <Icon Identifier="cogs" />
                        More
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in MoreItems)
                        {
                            @if (item.Text == "About")
                            {
                                <li><hr class="dropdown-divider"></li>
                            }
                            <li>
                                <a class="dropdown-item" href="@item.Url">
                                    <Icon Identifier="@item.Icon" />
                                    @item.Text
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                @foreach (var item in MoreItems)
                {
                    <MainMenuLink CssClass="d-none d-xl-inline" Href="@item.Url">
                        <Icon Identifier="@item.Icon" />
                        <span class="d-none d-lg-inline">
                            @item.Text
                        </span>
                    </MainMenuLink>
                }
            </ul>
            <UserInfo />
        </Online>
    </ServerConnection>
</div>
