<Match Url="@Href" Mode="@HrefMatch" PageType="@PageType" Context="IsActive">
    <li class="nav-item @CssClass">
        <a href="@Href" class="nav-link @(IsActive ? "active" : "")" title="@Title">
            @ChildContent
        </a>
    </li>
</Match>

@code
{
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public MatchMode HrefMatch { get; set; } = MatchMode.Exact;

    [Parameter]
    public Type PageType { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}