@inherits MainMenuBase

<NavLink class="navbar-brand" href="@Navigator.UrlSummary()">
    <img srcset="images/icon-w-40x40.png, images/icon-w-192x192.png 1.5x" src="images/icon-w-40x40.png" width="40" title="Money by Neptuo" />
    Money
    <span class="brand-author">by Neptuo</span>
    <AuthorizeView>
        <Authorized>
            <ApiHubConnectionStatus IsTextVisible="false" />
        </Authorized>
    </AuthorizeView>
</NavLink>
<HamburgerButton CssClass="navbar-toggler" Click="@OnMainMenuToggleClick" />
<div class="navbar-collapse @(IsMainMenuVisible ? "" : "collapse")">
    <ServerConnection>
        <Online>

            <ul class="nav navbar-nav me-auto mt-3 mt-lg-0 @MenuLeftMarginCssClass">
                <MainMenuLink href="@Navigator.UrlSummary()" PageType="typeof(Pages.SummaryMonth)">
                    <Icon Identifier="chart-pie" />
                    Monthly
                </MainMenuLink>
                <MainMenuLink Href="@Navigator.UrlSummary(ThisYear)" PageType="typeof(Pages.SummaryYear)">
                    <Icon Identifier="circle" />
                    Yearly
                </MainMenuLink>
                <MainMenuLink Href="@Navigator.UrlTrends()">
                    <Icon Prefix="fas" Identifier="chart-line" />
                    Trends
                </MainMenuLink>
                <MainMenuLink Href="@Navigator.UrlBalances(ThisYear)" PageType="typeof(Pages.BalancesMonth)">
                    <Icon Prefix="fas" Identifier="chart-bar" />
                    Balances
                </MainMenuLink>
                <MainMenuLink Href="@Navigator.UrlSearch()">
                    <Icon Identifier="search" />
                    Search
                </MainMenuLink>
                <MainMenuSeparator />
                <MainMenuLink Href="@Navigator.UrlCategories()">
                    <Icon Identifier="tag" />
                    <span class="d-lg-none d-xl-inline">
                        Categories
                    </span>
                </MainMenuLink>
                <MainMenuLink Href="@Navigator.UrlCurrencies()">
                    <Icon Identifier="pound-sign" />
                    <span class="d-lg-none d-xl-inline">
                        Currencies
                    </span>
                </MainMenuLink>
                <MainMenuLink Href="@Navigator.UrlExpenseTemplates()">
                    <Icon Identifier="redo" />
                    <span class="d-lg-none d-xl-inline">
                        Templates
                    </span>
                </MainMenuLink>
                <MainMenuSeparator />
                <PwaInstall />
                <MainMenuLink Href="@Navigator.UrlAbout()" Title="About Money app">
                    <Icon Identifier="info-circle" />
                    <span class="d-lg-none">
                        About
                    </span>
                </MainMenuLink>
            </ul>
            <AuthorizeView>
                <Authorized>
                    <ul class="nav navbar-nav @MenuLeftMarginCssClass">
                        <MainMenuSeparator IsVisibleOnDesktop="false" />
                    </ul>
                </Authorized>
            </AuthorizeView>
            <UserInfo ListCssClass="@MenuLeftMarginCssClass" />

        </Online>
    </ServerConnection>
</div>
