@if (IsAuthenticated || Loading.IsLoading)
{
    <ul class="nav navbar-nav @ListCssClass">
        <Loading Context="@Loading">
            <LoadingContent>
                <li class="nav-item">
                    <span class="navbar-text">
                        Loading...
                    </span>
                </li>
            </LoadingContent>
            <ChildContent>
                @if (Profile != null)
                {
                    <li class="nav-item dropdown d-none d-sm-block">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <Icon Identifier="user-circle" />
                            Me
                        </a>
                        @if (MenuItems != null)
                        {
                            <ul class="dropdown-menu dropdown-menu-end">
                                @foreach (var item in MenuItems)
                                {
                                    var isLogout = item.Text == "Logout";
                                    @if (isLogout)
                                    {
                                        <li><hr class="dropdown-divider"></li>
                                    }
                                    <li>
                                        <a class="dropdown-item @(isLogout ? "text-danger" : string.Empty) cursor-pointer" href="@item.Url" @onclick="@item.OnClick">
                                            <Icon Identifier="@item.Icon" />
                                            @item.Text
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ChildContent>
        </Loading>
    </ul>
}
